/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'PT Sans', sans-serif;*/
* {
	margin:0;
	padding:0;
}
html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	/*font-size: 20px;*/
	color:#050505;
}
.main {
	min-height: 100%;
	/*min-height: 500px;*/
	width: 1400px;
	max-width: 100%;
	margin: 0 auto;
	outline: 1px solid black;
}
/* ХЕДЕР */
	.header {
		width: 300px;
		height: 900px;
		/*background-color: #aaa;*/
		/*background-color: #050505;*/
		background-image: url(imgs/bgblack2.png);
		float: left;
		padding-top: 40px;
		padding-bottom: 25px;
	}
	@media screen and (max-width: 400px) { /*для мобильника*/
		.header {
			width: 100%;
			min-width: 300px;
			height: 550px;
			/*background-color: #aaa;*/
			/*background-color: #050505;*/
			float: none;
		}
	}
	@media screen and (max-width: 1050px) and (min-width: 400px) {  /*для планшета*/
		.header {
			width: 100%;
			/*min-width: 300px;*/
			height: 300px;
			/*background-color: #aaa;*/
			background-color: #050505;
			float: none;
		}
		.header .contacts {
			margin-top: 100px ;
			margin-right: 30px;
			float:right;
				
		}
		.header-top {
			float:left;
			margin-left: 30px;
		}
	}
	.header h2 {
		font-family: 'Roboto Condensed', sans-serif;
		color:#E81411;
	}
	.header h3 {
		font-family: 'Roboto Condensed', sans-serif;
		color:#eee;
	}
	.avatar {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		margin:20px auto;
		background-color: #444;
	}
	.blockhref {
		display:inline-block;
		text-decoration: none;
		color:inherit;

	}
	.myname {
		/*height: 150px;*/
		/*width: 220px;*/
		/*max-width: 80%;*/
		/*margin-top: 50px;*/
		/*margin-left: 50px;*/
		/*margin-left: auto;
		margin-right: auto;*/
		/*margin:50px auto;*/
		/*float: left;*/
		/*outline: 1px solid black;*/
	}
	.contacts {
		/*height: 150px;*/
		width: 150px;
		max-width: 80%;
		
		/*margin-right: 70px;*/
		/*margin-left: auto;*/
		/*margin-right: auto;*/
		margin:0 auto;


		/*float: right;*/
		/*outline: 1px solid black;*/
	}
	.contacts ul li {
		margin:0 0;
	}
	.c-button {
		height: 30px;
		width: 150px;
		/*margin: 5px 0;*/
		border-radius: 5px;
		background-color: #811;
		/*outline: 1px solid black;*/
	}
	.clear {
		clear:both;
/*ЦЕНТРАЛЬНАЯ ЧАСТЬ*/
}
.content {
	max-width: 1100px;
	/*height: 900px;*/
	min-width: 300px;
	/*background-color: #f80;*/
	overflow: hidden;
}
.centralanimation {
	height: 300px;
	width: 1000px;
	max-width: 80%;
	margin:0 auto;
	background-color: #f80;
}
	/*КОЛОНКИ*/
		.column {
			width: 49%;
		}
		.leftColumn {
			float: left;
		}
		.rightColumn {
			overflow: hidden;
		}

	/*ТЕКСТБОКСЫ*/
		.textSuperBox {
			border-right: 4px solid red;
			padding-top: 40px;
		}
		.lastSuperbox {
			border-right: 4px solid transparent;
		}
		.textBigBox {
			background-color: green;
			/*margin-top: 40px;*/
			margin-left: 40px;
			margin-right: 36px;
			/*margin-bottom: 40px;*/

		}
		.upperLineZone {
			height: 40px;
			background-color: orange;
		}
		.upperLine {
			height: 36px;
			background-color: lightblue;
			position: relative;
			
			left:40px;
			width: 50%;
			float:right;
			border-top-left-radius: 36px;
			border-left: 4px solid red;
			border-top: 4px solid red;
		}
		.littleRound {
			height: 40px;
			width: 36px;
			position: relative;
			top:-40px;
			left:40px;
			background-color: transparent;
			float:right;
			border-bottom-right-radius: 36px;
			border-right: 4px solid red;
			border-bottom: 4px solid red;
		}
		.leftLineZone {
			width: 40px;
			height: 100px;
			min-height: 50%;
			float: left;
			background-color: blue;
			border-bottom-left-radius: 40px;
			border-bottom: 4px solid red;
			border-left: 4px solid red;
			position: relative;
			left:-4px;
			display:none;
		}
.sitecase {
	height: 300px;
	width: 500px;
	max-width: 80%;
	float: left;
	outline: 1px solid black;
	margin:20px 10px;
}

/* ФУТЕР */
.prefooter {
	height: 200px
}
.footer {
	position: relative;
	top:-200px;
	height: 200px;
	background-color: #333;
}

